[Desktop Entry]
Type=Application
Name=LOUPe beta 0.1.5
Comment=Débat multi-agents local avec modèles Ollama et GGUF
Exec=3loop
Icon=3loop
Terminal=false
Categories=Science;Education;Development;
StartupNotify=true
